<a href="https://colab.research.google.com/github/beratkc/Rprogramlama/blob/main/3_odev.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Matrisler

 Matris oluşturma

In [2]:
# (3x4)lük matris
m<-matrix(c(3,7,8,2,1,0,-1,3,8,8,6,3),3,4)
m

     [,1] [,2] [,3] [,4]
[1,] 3    2    -1   8
[2,] 7    1     3   6
[3,] 8    0     8   3

In [4]:
# (3x3)lük matris

mx<-matrix(c(7,3,2,1,6,3,8,3,1),3,3)
mx

     [,1] [,2] [,3]
[1,] 7    1    8
[2,] 3    6    3
[3,] 2    3    1

satır öncelikli matris oluşturma

In [5]:
mx1<-matrix(c(5,1,7,8,3,0,2,-2,6),3,3,byrow = T) # byrow=T satır önceliği tanır
mx1

     [,1] [,2] [,3]
[1,] 5     1   7
[2,] 8     3   0
[3,] 2    -2   6

In [8]:
mx2<-matrix(c(-1,4,-5,0,3,8),2,3,byrow = T)
mx2

     [,1] [,2] [,3]
[1,] -1   4    -5
[2,]  0   3     8

In [10]:
mx3<-matrix(c(7,1,1,3,2,1,2,1,3,0,6,7),3,4,byrow=T)
mx3

     [,1] [,2] [,3] [,4]
[1,] 7    1    1    3
[2,] 2    1    2    1
[3,] 3    0    6    7

 mx3 matrisimizin 1. satır 3. sütününda olan elemanı 9 olarak değiştiriniz

In [11]:
mx3[1,3]<-9
mx3

     [,1] [,2] [,3] [,4]
[1,] 7    1    9    3
[2,] 2    1    2    1
[3,] 3    0    6    7

In [12]:
mx4<-matrix(c(2,5,0,2,-4,6,-2,1,2),3,3,byrow = T)
mx4

     [,1] [,2] [,3]
[1,]  2    5   0
[2,]  2   -4   6
[3,] -2    1   2

mx4 matrisinin 3 den büyük olan elamanlarını gösteriniz

In [13]:
mx4[mx4>3]

[1] 5 6

In [20]:
mx5<-matrix(c(1,6,2,3,4,-6,5,11,4),3,3,byrow = T)
mx5

     [,1] [,2] [,3]
[1,] 1     6    2
[2,] 3     4   -6
[3,] 5    11    4

mx5 matrisinin 2. sütünunu silen kodu gösteriniz

In [21]:
mx5<-mx5[,-2]
mx5

     [,1] [,2]
[1,] 1     2
[2,] 3    -6
[3,] 5     4

In [32]:
mx6<-matrix(c(2,2,8,10,7,-3),2,3,byrow = T)
mx6

     [,1] [,2] [,3]
[1,]  2   2     8
[2,] 10   7    -3

mx6 matrisine c(3,4) vektörününü sütün olarak ekleyiniz

In [33]:
#cbind sütün birleştirme rbind ise satır birleştirme
mx6<-cbind(mx6,c(3,4))
mx6

     [,1] [,2] [,3] [,4]
[1,]  2   2     8   3
[2,] 10   7    -3   4

In [35]:
mx7<-matrix(c(2,3,7,1,0,6,1,1,3),3,3,byrow = T)
mx8<-matrix(c(1,7,12,7,14,0,8,21,2),3,3,byrow = T)
#mx7 ve mx8 matrisimizi satır olarak birleştirelim
# satır birleştirme işlemi için rbin kullanılır
mx7_8<-rbind(mx7,mx8)
mx7_8

     [,1] [,2] [,3]
[1,] 2     3    7
[2,] 1     0    6
[3,] 1     1    3
[4,] 1     7   12
[5,] 7    14    0
[6,] 8    21    2